<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<% artista.forEach(element => { %>
 <img src="<%= element.imagem %>" alt="" width="600" height="400">
 <h2><%= element.nome %> </h2>
 <hr>
<% }) %>
</body>
</html>